{% extends '@MauticCore/Default/content.html.twig' %}
{% block mauticContent %}reusabletemplate_template{% endblock %}

{% set objectId = form.vars.data.getId() %}
{% if objectId is not empty %}
    {% set name = form.vars.data.getName() %}
    {% set header = 'Edit Template: ' ~ name %}
{% else %}
    {% set header = 'New Reusable Email Part' %}
{% endif %}

{% block headerTitle %}{{ header }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="box-layout">
        <div class="col-xs-12 height-auto bg-white">
            <div class="pa-md">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.content) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hide">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
